.uxt-header-global-headingContainer {
    margin: 0 auto;
    
        /* position: absolute;
        left: 50%;
        margin-left: -25px;   */
    }
    
    .uxt-header-global-heading {
        font-size: 24px;
    }

  